<nav id='navColumn'>
    <div style='height:51px'></div>
    <div class='centralizeContentColumn' style='margin-top:25px'>
        <div class='navColumnContent__element'>
            <span class='text'>logged as USERNAME</span>
        </div>
        <hr class='navColumnContent__division' />
        <div class='navColumnContent__element column'>
            <a class='noUnderline--link' href='#'>in-basked</a>
            <a class='noUnderline--link' href='#'>calendar</a>
            <a class='noUnderline--link' href='#'>next actions</a>
        </div>
        <hr class='navColumnContent__division' />
        <div class='navColumnContent__element column'>
            <a class='noUnderline--link' href='#'>projects</a>        
            <a class='noUnderline--link' href='#'>someday/maybe</a>        
            <a class='noUnderline--link' href='#'>waiting</a>        
        </div>
    </div>
</nav>