<!doctype html>


<html lang='<%= __("_lang") %>'>

<head>
    <title>In-basket</title>
    <% include ../../partials/head %>
</head>

<body>
<section id='background'>

<div id='body'>
    <% include ../../partials/menu %>
    <% include ../../partials/menu-vertical %>
    <div id='content'>
        <div id='content__cards'>
            <div style='height: 50px'></div>
            <div class='card action--bar alignContent'></div>
            <div class='action'>
                <div class='card action__header alignContent'>
                    <div class='action__title'>
                        <span class='text'>Limpar computador.</span>
                    </div>
                    <div class='action__buttons rowReversed'>
                        <button class='reset--button' title='delete action'><i class='fa fa-times icon action--icon'></i></button>
                        <button class='reset--button' title='edit action content'><i class='fa fa-edit icon action--icon'></i></button>
                        <button class='reset--button' title='add/change action tag'><i class='fa fa-tag icon action--icon'></i></button>
                    </div>
                </div>
                <div class='action__content card'>
                    <span class='text'> Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a Loremasdf asdf asdf asdf asdf asdf asdf a</span>
                </div>
            </div>
        </div>
        <div id='content__ads'>
        </div>
    </div>
</div>


</section>
<% include ../../partials/footer %>
</body>

</html>