<!doctype html>


<html lang='<%= __("_lang") %>'>

<head>
    <title>In-basket</title>
    <% include ../../partials/head %>
</head>

<body>
<section id='background'>

<div id='body'>
    <% include ../../partials/menu %>
    <% include ../../partials/menu-vertical %>
    <div id='content'>
    </div>
</div>


</section>
<% include ../../partials/footer %>
</body>

</html>