<!doctype html>


<html lang='<%= __("_lang") %>'>

<head>
    <title>Next actions</title>
    <% include ../../partials/head %>
</head>

<body>
<section id='background'>

<% include ../../partials/user-forms %>

<div id='body'>
    <% include ../../partials/menu %>
    <% include ../../partials/menu-vertical %>
    <div id='content'>
        <div id='content__cards' class='slide--effect--right'>
            <div style='height: 50px'></div>
            <div class='card action--bar alignContent'>
                <button class='reset--button' onclick='actions.openUserForm("addSimpleActionForm");actions.v.forms.addAction.tag = "nextAction"'><i class='fa fa-plus icon action--icon user--icon'></i></button>
            </div>
                <template v-if='v.user'>
                    <template v-for='i in v.user.length'>
                    <template v-if='v.user[i - 1].tag == "nextAction"'>
                        <div class='action'>
                                <div class='card action__header alignContent'>
                                <div class='action__title alignContent'>
                                    <span class='text'>{{ v.user[i - 1].title }}</span>
                                </div>
                                <div class='action__buttons rowReversed'>
                                    <button class='reset--button' title='<%= __("_delete_action") %>' @click='deleteAction(v.user[i - 1].id)'><i class='fa fa-times icon action--icon user--icon'></i></button>
                                    <button class='reset--button' title='<%= __("_edit_action") %>' @click='openUserForm("editAction");v.forms.editAction.id = v.user[i - 1].id'><i class='fa fa-edit icon action--icon user--icon'></i></button>
                                    <button class='reset--button' title='<%= __("add/edit_tag") %>' @click='openUserForm("add_changeTags");v.forms.editTag.id = v.user[i - 1].id;selectTagForm("" + v.user[i - 1].tag)'><i class='fa fa-tag icon action--icon user--icon'></i></button>
                                </div>
                            </div>
                            <div class='action__content card'>
                                <span class='text'> {{ v.user[i - 1].description }} </span>
                            </div>
                        </div>
                    </template>
                    </template>
                </template>
                <div style='height: 100px'></div>
        </div>
        <div id='content__ads'>
        </div>
    </div>
</div>


</section>
<% include ../../partials/footer %>
</body>

</html>