<!doctype html>


<html lang='<%= __("_lang") %>'>

<head>
    <title>Projects</title>
    <% include ../../partials/head %>
</head>

<body>
<section id='background'>

<% include ../../partials/user-forms %>

<div id='body'>
    <% include ../../partials/menu %>
    <% include ../../partials/menu-vertical %>
    <div id='content'>
        <div id='content__cards' class='slide--effect--right'>
            <div style='height: 50px'></div>
            <div class='card action--bar alignContent'>
                <button class='reset--button' onclick='actions.openUserForm("addProject")'><i class='fa fa-plus icon action--icon user--icon'></i></button>
            </div>
            <template v-if='v.projects'>
            <template v-for='i in v.projects.length'>
                <div class='project column'>
                    <div class='card action__header project__header alignContent'>
                        <div class='action__title alignContent'>
                            <span class='text'>{{ v.projects[i - 1].title }}</span>
                        </div>
                        <div class='actionButtonDropdown rowReversed'>
                            <button class='reset--button'><i class="fas fa-ellipsis-v icon action--icon"></i></button>
                            <div class='rowReversed'>
                                <div class='action__buttons rowReversed'>
                                    <button class='reset--button' title='<%= __("_delete_project") %>' @click='deleteProject(v.projects[i - 1].id)'><i class='fa fa-times icon action--icon user--icon'></i></button>                                    
                                    <button class='reset--button' title='<%= __("_edit_project_title") %>' @click='openUserForm("editProjectTitle");v.forms.project.editProjectId = v.projects[i - 1].id;hideAllSelectionBars()'><i class='fa fa-edit icon action--icon user--icon'></i></button>
                                    <button class='reset--button' title='<%= __("_add_action_to_project") %>'><i class='fa fa-plus icon action--icon user--icon'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='project__actions'>
                        <div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <div style='height: 100px'></div>
        </div>
        <div id='content__ads'>
        </div>
    </div>
</div>


</section>
<% include ../../partials/footer %>
</body>

</html>