<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>Login</title>
</head>

<body>
<div id='app'>
<fixed>
  <i class='fa fa-surprise super-faded' style='font-size: 500px'></i>
</fixed>

<div style='margin-left: 100px'>
  <massive-title><%= __('404 - Page Not Found') %></massive-title>
  <h3><%= __('Oopsie!!! Looks like this page does not exist...') %></h3>
  <h3><%= __('Try: ') %><link-blue href='/'>localhost:3000</link-blue></h3>
  
</div>

</div>


<% include partials/footer %>
</body>

</html>