<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>Login</title>
</head>

<body>
<div id='app'>
<fixed>
  <i class='fa fa-dizzy super-faded' style='font-size: 500px'></i>
</fixed>

<div style='margin-left: 100px'>
  <massive-title><%= __('500 - Internal Server Error') %></massive-title>
  <h3><%= __('Oopsie!!! The website has been shut down for some reasons...') %></h3>
  <h3><%= __('Try loading this page later.') %></h3>
  
</div>

</div>


<% include partials/footer %>
</body>

</html>