<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title></title>
</head>

<body>
<div id='app'>
  <fixed>
    <login-form :show='transitionsAndAnimations.userForms.show'>
      <div style='opacity:0'>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
        <p>asdfasdfasdfasdfasdfasdf</p>
      </div>
    </login-form>
  </fixed>

</div>


<% include partials/footer %>
</body>

</html>