<!doctype html>

<html lang='<%= __("_lang") %>"'>

<head>
    <title>GTD</title>
    <% include partials/head %>

    <link rel="prefetch" href="/user/initial">
    <link rel="prerender" href="/user/initial"> 
    <link rel="prefetch" href="/user/login">
    <link rel="prerender" href="/user/login">
</head>

<body>
<div id='background'>
<% include partials/menu %>

<section id='body'>
    <% include partials/menu-horizontal %>

    <div id='content'>
        <a href='/user/initial'><%= __('BEGIN!') %></a>
    </div>
</section>



<% include partials/footer %>
</div>
<body>

</html>