<!doctype html>

<html lang='<%= __("_lang") %>"'>

<head>
    <title>GTD</title>
    <% include partials/head %>
</head>

<body>
<a href='/user/initial'>COMEÇAR</a>

<% include partials/footer %>
<body>

</html>