<!DOCTYPE html>

<html lang='<%= __("lang") %>'>

<head>
    <title>Login</title>
    <% include partials/head %>

    <link rel='stylesheet' href='/css/loginsignup.css' type='text/css'/>
</head>

<body>
    <form method='post' action='/users/login'>
    <div class='loginSignUpBackground'>
        <div class='loginSignUp__formBox'>
        </div>
    </div>
    </form>

    <% include partials/footer %>
    <script src='/js/loginsignup.js'></script>
</body>

</html>