<!DOCTYPE html>

<html lang='pt=br'>

<head>
    <title>Login</title>
    <% include partials/head %>

    <link rel='stylesheet' href='/css/loginsign.css' type='text/css'/>
</head>

<body>
    <div class='loginBack'>
        <div class='login'>
        </div>
    </div>

    <% include partials/footer %>
    <script src='/js/loginsign.js'></script>
</body>

</html>