<!doctype html>

<html lang='<% __("_lang") %>'>

<head>
    <title>User</title>
    <% include partials/head %>
</head>

<body>
<div id='background'>
<% include partials/menu %>

<section id='body'>
    <% include partials/menu-horizontal %>
    <div id='content'>
    
    </div>
</section>






</div>
<% include partials/footer %>
</body>

</html>