<!doctype html>
<html lang='<%= __("lang") %>'>

<head>
  <% include partials/header %>
  <title>User</title>
</head>

<body>
<div id='app'>
  asdfasdf
</div>


<% include partials/footer %>
</body>

</html>