<!doctype html>

<html lang='<% __("_lang") %>'>

<head>
    <title>User</title>
    <% include partials/head %>
</head>

<body>
<div id='background'>
<% include partials/menu %>




</div>
<% include partials/footer %>
</body>

</html>