<!doctype html>

<html lang='<%= __("_lang") %>'>

<head>
    <% include ../partials/head %>

    <link rel="prefetch" href="/user/login">
    <link rel="prerender" href="/user/login">
    <link rel="prefetch" href="/user/signup">
    <link rel="prerender" href="/user/signup">
</head>

<body>
<div id='background' class='centralizeContent'>

    <% include ../partials/menu %>
    <div class='form slide--effect card'>
        <div>
            <div class='form__element centralizeContent'>
                <a href='#' class='link--button'><%= __('Enter_as_a_guest') %></a>
            </div>
            <div class='form__element centralizeContent'>
                <a href='/user/login' class='link--button'><%= __('_login') %></a>
            </div>
        </div>
    </div>








</div>
<% include ../partials/footer %>
</body>


</html>