<!doctype html>

<html lang='<%= __("_lang") %>'>

<head>
    <% include ../partials/head %>
</head>

<body>
<div id='navBar' class='alignContent'>
    <div class='alignContent' class='navBar__left'>
        <div class='navBar__element'>
            <a href='/user/login' class='noUnderline--link'>login</a>
        </div>
    </div>
    <div class='navBar__right rowReversed'>
        <div class='navBar__element'>
            <a class='noUnderline--link' href='#'>contato</a>
        </div>
    </div>
</div>





<div id='background' class='centralizeContent'>
    <div class='form slide--effect'>
        <div>
            <div class='form__element centralizeContent'>
                <a href='#' class='link--button'><%= __('Enter_as_a_guest') %></a>
            </div>
            <div class='form__element centralizeContent'>
                <a href='/user/login' class='link--button'><%= __('_login') %></a>
            </div>
        </div>
    </div>
</div>




<% include ../partials/footer %>
</body>


</html>