@keyframes doubleSlideBounce{ 
  0%{
    flex-basis: 0;
    opacity: 0;
  }
  20%{
    flex-basis: 470px;
    opacity: .6;
  }
  36%{
    flex-basis: 420px;
  }
  52%{
    flex-basis: 460px;
  }
  68%{
    flex-basis: 430px;
  }
  84%{
    flex-basis: 450px;
  }
  100%{
    opacity: 1;
    flex-basis: 440px;
  }
}

@keyframes slideFromTopBounce{
  0%{
    height: 0;
    opacity: 0;
  }
  20%{
    height: 65px;
    opacity: .4;
  }
  36%{
    height: 35px;
  }
  52%{
    height: 60px;
  }
  68%{
    height: 40px;
  }
  84%{
    height: 55px;
  }
  100%{
    opacity: 1;
    height: 50px;
  }
}

@keyframes pop{
  0%{
    transform: scale(0, 0);
  }
  30%{
    transform: scale(0, 0);
  }
  80%{
    transform: scale(1.1, 1.1);
  }
  100%{
    transform: scale(1, 1);
  }
}

@keyframes popLong{
  0%{
    opacity: 0;
  }
  52%{
    transform: scale(1.2,1.2);
    opacity: .4;
  }
  68%{
    transform: scale(0.9,0.9);
  }
  84%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
    opacity: 1;
  }
}

@keyframes unpop{
  0%{
    transform: scale(1,1);
    opacity: 1;
  }
  65%{
    transform: scale(1.2,1.2);
    opacity: .8;
  }
  100%{
    transform: scale(0,0);
    opacity: 0;
  }
}

@keyframes rightToLeftBounceNavDrop{
  0%{
    opacity: 0;
    width: 0;
  }
  52%{
    opacity: .4;
    width: 170px;
  }
  68%{
    width: 140px;
  }
  84%{
    width: 160px;
  }
  100%{
    opacity: 1;
    width: 150px;
  }
}

@keyframes leftToRightNavDrop{
  0%{
    width: 150px;
    opacity: 1;
  }
  65%{
    width: 170px;
    opacity: .8;
  }
  100%{
    width: 0;
    opacity: 0;
  }
}

@keyframes leftToRightBounceSideNav{
  0%{
    width: 0;
  }
  20%{
    width: 240px;
  }
  36%{
    width: 210px;
  }
  52%{
    width: 235px;
  }
  68%{
    width: 215px;
  }
  84%{
    width: 230px;
  }
  100%{
    width: 225px;
  }
}

@keyframes rightToLeftSideNav{
  0%{
    opacity: 1;
    width: 225px;
  }
  65%{
    opacity: .8;
    width: 250px;
  }
  100%{
    opacity: 0;
    width: 0;
  }
}

@keyframes linkUnderlineOver{
  0%{
    left: -60px;
    width: 0;
  }
  52%{
    width: 100%;
    left: 10px;
  }
  68%{
    left: 0;
  }
  84%{
    left: 5px;
  }
  100%{
    left: 0;
  }
}

@keyframes linkUnderlineOut{
  0%{
    left: 0;
    width: 100%;
  }
  65%{
    left: -10px;
  }
  100%{
    left: 220px;
    width: 100%;
  }
}

@keyframes slideLeftToRightBounce{
  0%{
    flex-basis: 0;
    left: -100%;
  }
  50%{
    flex-basis: 0;
    left: -100%;
  }
  50.00001%{
    left: -15%;
  }
  60%{
    left: 12%;
  }
  70%{
    left: -9%;
  }
  80%{
    left: 6%;
  }
  90%{
    left: -3%;
  }
  100%{
    left: 0;
  }
}


@keyframes slideRightToLeftUnpop{
  0%{
    left: 0;
  }
  66%{
    left: 15%;
  }
  100%{
    left: -50%;
  }
}


@keyframes goBack{
  0%{
    left: 0;
  }
  60%{
    left: 30px;
  }
  100%{
    left: -100%;
  }
}

.curved-movement-enter-active{
  animation: popLong;
  animation-duration: .3s;
}

.curved-movement-leave-active{
  animation: unpop;
  animation-duration: .3s;
}

.flip-list-enter-active{
  animation: popLong;
  animation-duration: .4s;
}

.flip-list-leave-active{
  animation: goBack;
  animation-duration: .4s;
}


.fade-enter-active{
  transition: opacity .2s;
}

.fade-leave-active{
  transition: opacity 0;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.action-dropdown-enter-active{
  animation: popLong;
  animation-duration: .4s; 
}

.double-slide-bounce-unpop-enter-active{
  animation: doubleSlideBounce;
  animation-duration: .6s;
}

.double-slide-bounce-unpop-leave-active{
  animation: unpop;
  animation-duration: .2s;
}

.component-animation-enter-active{
  animation: slideLeftToRightBounce;
  animation-duration: .8s;
}

.component-animation-leave-active{
  animation: slideRightToLeftUnpop;
  animation-duration: .4s;
}

.left-to-right-bounce-side-nav-enter-active{
  animation: leftToRightBounceSideNav;
  animation-duration: 1s;
}

.left-to-right-bounce-side-nav-leave-active{
  animation: rightToLeftSideNav;
  animation-duration: .4s;
}

.right-to-left-bounce-nav-drop-enter-active{
  animation: rightToLeftBounceNavDrop;
  animation-duration: .3s; 
}

.right-to-left-bounce-nav-drop-leave-active{
  animation: leftToRightNavDrop;
  animation-duration: .3s;
}

.double-slide-bounce-enter-active {
  animation: doubleSlideBounce;
  animation-duration: 1s;
}

.slide-from-top-bounce-enter-active {
  animation: slideFromTopBounce;
  animation-duration: 1s; 
}

.pop-long-enter-active{
  animation: popLong;
  animation-duration: .3s;
}

.pop-long-leave-active{
  animation: unpop;
  animation-duration: .3s; 
}

.pop1-enter-active{
  animation: pop;
  animation-duration: .4s;
}

.pop1-leave-active{
  animation-duration: .2s;
}

.pop2-enter-active{
  animation: pop;
  animation-duration: .5s;
}

.pop2-leave-active{
  animation-duration: .2s;
}

.pop3-enter-active{
  animation: pop;
  animation-duration: .6s;
}

.pop3-leave-active{
  animation-duration: .2s;
}

.pop4-enter-active{
  animation: pop;
  animation-duration: .7s;
}

.pop4-leave-active{
  animation-duration: .2s;
}

.pop5-enter-active{
  animation: pop;
  animation-duration: .8s;
}

.pop5-leave-active{
  animation-duration: .2s;
}

.pop6-enter-active{
  animation: pop;
  animation-duration: .9s;
}

.pop6-leave-active{
  animation-duration: .2s;
}

.pop7-enter-active{
  animation: pop;
  animation-duration: 1s;
}

.pop8-enter-active{
  animation: pop;
  animation-duration: 1.1s;
}

.pop8-enter-active{
  animation: pop;
  animation-duration: 1.2s;
}

.pop9-enter-active{
  animation: pop;
  animation-duration: 1.3s;
}