@font-face {
  font-family: "Work Sans Light";
  src: url("../fontes/Work Sans/WorkSans-Light.otf"); }
body,
.form--button,
.textBox {
  font-family: "Work Sans Light"; }

body {
  margin: 0;
  background-color: #191919; }

#background {
  z-index: -1; }

#navBar {
  position: fixed;
  width: 90%;
  padding: 0 5%;
  border-bottom: 0.5px solid #6A6A6A;
  z-index: 2; }

#navBar + div {
  z-index: 12;
  width: 10px; }

.navBar__element {
  margin: 8px;
  padding: 8px; }

.dropdownDesktop__element,
.navBarMobileDropdown__element {
  margin: 6px; }

.dropdownDesktop > div {
  top: 35px; }

.navBarMobileDropdown__element > div {
  top: 25px; }

.navBarMobileSubDropdown__element {
  margin: 14px;
  top: 15px; }

#navBarMobileButton > .fa-bars,
#navBArMobileButton__left > .fa-user {
  right: 3px; }

.navBarMobile__content {
  right: 0; }

.mobile--rotated {
  transform: rotate(360deg); }

.form {
  width: 350px;
  padding-top: 25px; }

.form__element {
  margin-bottom: 25px; }

.form--eye {
  right: 0;
  top: 9px;
  font-size: 22px;
  cursor: pointer; }

.fa-eye-slash {
  color: #6A6A6A; }

#body > #navColumn {
  position: fixed;
  flex-basis: 250px;
  border-right: 0.5px solid #B9B9B9;
  background-color: #474747;
  z-index: 1;
  left: 0;
  width: 250px; }

#body > #content {
  flex-basis: 1570px; }

.navColumnContent__element {
  width: 200px;
  margin-bottom: 25px; }

.navColumnContent__division {
  border: 0.5px solid #6A6A6A;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 200px; }

#content__cards {
  width: 75%; }

#content__ads {
  width: 25%; }

@media screen and (min-width: 769px) {
  #navBar #navBar__mobile {
    display: none; }

  #content {
    margin-left: 260px; } }
@media screen and (max-width: 768px) {
  #navBar__desktop {
    display: none; }

  #content {
    flex-direction: column-reverse; }

  #content__cards {
    height: 100%; }

  #content__ads {
    height: 250px; }

  #content__cards,
  #content__ads {
    width: 100%; } }
.action--bar {
  margin: 0 30px;
  margin-top: 40px;
  margin-bottom: 80px; }

.action--bar,
.action__header {
  padding: 0 10px; }

.action__header {
  cursor: pointer; }

.action:hover {
  top: -3px; }

.action + .action {
  margin-top: 10px; }

.action__content {
  top: 1px;
  min-height: 75px;
  padding: 30px; }

.action__title {
  flex-basis: 90%;
  height: 100%; }

.action__buttons {
  flex-basis: 10%; }

#userForms {
  width: 100%;
  height: 100%; }

#userForms > div {
  width: 350px;
  height: 450px;
  z-index: 5; }

.userForm {
  top: 0;
  left: 0; }

.user__form__close {
  right: 2px;
  top: 2px; }

.iconGroup {
  width: 100%; }
  .iconGroup > div {
    display: flex;
    flex-wrap: wrap; }

.icon--selector {
  border: 0.5px solid #B9B9B9;
  width: 70px;
  height: 70px;
  cursor: pointer; }
  .icon--selector:hover {
    background-color: #0080FF; }

.icon--selector--selected {
  background-color: #0080FF; }

.action__header,
.action__content,
.form > div {
  margin: 0 30px; }

.action__title,
.action__buttons,
#navBar > div > div {
  width: 50%; }

.action--bar,
.action__header,
#navBar,
#navBar + div,
#navBar > div > div {
  height: 50px; }

#body,
#body > #navColumn,
#background {
  height: 100%; }

#background,
.form__element {
  width: 100%; }

.form--button,
.reset--button {
  cursor: pointer;
  outline: none; }

.text,
a,
.form--input--text,
.fa-eye,
body,
.icon,
.textBox {
  color: #B9B9B9; }

a:hover,
.noUnderline--link,
.form--button:hover,
.link--button:hover,
.link--button {
  text-decoration: none; }

.hided,
.slide--effect,
.slide--effect--left,
.slide--effect--right,
.mobile--rotated {
  opacity: 0;
  visibility: hidden; }

.status--success,
a:hover,
.form--button,
.link--button,
.active--link,
h1.title {
  color: #0080FF; }

#navBar,
.card,
.form--input--text,
.reset--button,
.textBox {
  background-color: #474747; }

.slide--effect,
.slide--effect--left,
.slide--effect--right,
.form__element,
.dropdownDesktop,
.navBarMobile__subDropdown,
#navBarMobileButton,
#navBArMobileButton__left,
.action,
#userForms > div,
.action__content {
  position: relative; }

.form--eye,
.dropdownDesktop > div,
#navBarMobile__toggle > div,
.navBarMobile__subDropdown > div,
#background,
#navBarMobileButton > .fa-bars,
#navBArMobileButton__left > .fa-user,
.userForm,
.user__form__close,
#userForms {
  position: absolute; }

.justifyContent,
.alignContent,
.centralizeContent,
.centralizeContentColumn,
.rowReversed,
#body,
.column,
#content,
.action__header {
  display: flex; }

.alignContent,
.centralizeContent,
.centralizeContentColumn {
  align-items: center; }

.rowReversed {
  flex-direction: row-reverse; }

.centralizeContent,
.centralizeContentColumn,
.justifyContent {
  justify-content: center; }

.centralizeContentColumn,
.column {
  flex-direction: column; }

.form--button, .link--button,
.dropdownDesktop > div,
#navBarMobile__toggle > div,
.action__header,
.action {
  transition-duration: 0.2s; }

.status--alert {
  color: #FF6F00; }

.card {
  border: 0.5px solid #6A6A6A;
  border-radius: 2px; }

a {
  text-decoration: underline; }

.form--button, .link--button {
  border: 1px solid #0080FF;
  padding: 12px;
  font-size: 1em; }

.form--button:hover, .link--button:hover {
  color: white;
  background-color: #0080FF; }

.form--button {
  background-color: transparent;
  width: 250px; }

.form--input--text,
.textBox {
  border: none;
  width: 275px;
  padding: 10px;
  outline: none;
  font-size: 1.1em; }

.form--input--text {
  border-bottom: 1px solid #6A6A6A; }

.textBox {
  border: 1px solid #6A6A6A;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  height: 80px; }

.reset--button {
  border: none; }

.icon {
  font-size: 30px; }

.link--button {
  display: inline-block;
  width: 225px;
  text-align: center; }

.slide--effect {
  top: -30px; }

.slide--effect--left {
  left: -30px; }

.slide--effect--right {
  right: -30px; }

.align--text {
  text-align: center; }

h1.title {
  font-size: 30px; }

/*# sourceMappingURL=styles.css.map */
