@font-face {
  font-family: "Work Sans Light";
  src: url("../fontes/Work Sans/WorkSans-Light.otf"); }
body {
  margin: 0;
  font-family: "Work Sans Light";
  background-color: #191919; }

#background {
  width: 100%;
  height: 100%;
  z-index: -1; }

#navBar > div > div {
  height: 50px; }

#navBar {
  position: fixed;
  height: 50px;
  width: 90%;
  padding: 0 5%;
  border-bottom: 0.5px solid #6A6A6A; }

#navBar > div > div {
  width: 50%; }

#navBar + div {
  height: 50px;
  z-index: 12;
  width: 10px; }

.navBar__element {
  margin: 8px;
  padding: 8px; }

.dropdown__element {
  margin: 14px; }

.main__menu__dropdown__element {
  margin: 14px; }

.dropdown > div {
  top: 35px; }

.main__menu__dropdown__element > div {
  top: 20px; }

.subdropdown__element {
  margin: 14px;
  top: 15px; }

#navBar__mobile__button {
  position: relative; }

#navBar__mobile__button > .fa-bars {
  position: absolute;
  right: 3px; }

.navBar__mobile__content {
  right: 0; }

.mobile--rotated {
  transform: rotate(360deg); }

.form {
  width: 350px;
  padding-top: 25px; }

.form > div {
  margin: 0 30px; }

.form__element {
  margin-bottom: 25px;
  width: 100%; }

.form--eye {
  right: 0;
  top: 9px;
  font-size: 22px;
  cursor: pointer; }

.fa-eye-slash {
  color: #6A6A6A; }

@media screen and (min-width: 980px) {
  #navBar #navBar__mobile {
    display: none; } }
@media screen and (max-width: 979px) {
  #navBar__desktop {
    display: none; } }
.text,
a,
.form--input--text,
.fa-eye,
body,
.icon {
  color: #B9B9B9; }

a:hover,
.noUnderline--link,
.form--button:hover,
.link--button:hover,
.link--button {
  text-decoration: none; }

.hided, .mobile--rotated,
.slide--effect {
  opacity: 0;
  visibility: hidden; }

.status--success,
a:hover,
.form--button,
.link--button {
  color: #0080FF; }

#navBar,
.card,
.form--input--text,
.reset--button {
  background-color: #474747; }

.slide--effect,
.form__element,
.dropdown,
.subdropdown__mobile {
  position: relative; }

.form--eye,
.dropdown > div,
.dropdown__mobile > div,
.subdropdown__mobile > div,
#background {
  position: absolute; }

.justifyContent,
.alignContent,
.centralizeContent,
.centralizeContentColumn,
.rowReversed {
  display: flex; }

.alignContent,
.centralizeContent,
.centralizeContentColumn {
  align-items: center; }

.rowReversed {
  flex-direction: row-reverse; }

.centralizeContent,
.centralizeContentColumn,
.justifyContent {
  justify-content: center; }

.centralizeContentColumn {
  flex-direction: column; }

.form--button, .link--button,
.dropdown > div,
.dropdown__mobile > div {
  transition-duration: 0.2s; }

.slide--effect {
  transition-duration: 1.2s; }

.status--alert {
  color: #FF6F00; }

.card {
  border: 0.5px solid #6A6A6A;
  border-radius: 2px; }

a {
  text-decoration: underline; }

.form--button, .link--button {
  border: 1px solid #0080FF;
  padding: 12px;
  font-size: 1em; }

.form--button:hover, .link--button:hover {
  color: white;
  background-color: #0080FF; }

.form--button {
  background-color: transparent;
  width: 250px;
  cursor: pointer;
  font-family: "Work Sans Light";
  outline: none; }

.form--input--text {
  border: none;
  border-bottom: 1px solid #6A6A6A;
  width: 275px;
  padding: 10px;
  outline: none;
  font-size: 1.1em; }

.reset--button {
  border: none;
  cursor: pointer;
  outline: none; }

.icon {
  font-size: 30px; }

.link--button {
  display: inline-block;
  width: 225px;
  text-align: center; }

.slide--effect {
  top: -30px; }

.align--text {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
