$background--color: #201F1F
$gray--light: #575656
$gray--light--light: #D9D9D9
$gray: #707070
$alert--color: #E99708
$blue: #006FFF
$yellow: #E99708

@font-face
    font-family: 'Work Sans Light'
    src: url('/Fontes/WorkSans/WorkSans-Light.otf')

body
    margin: 0
    font-family: 'Work Sans Light'

.login--input
    background-color: $gray--light
    border: 1px solid transparent
    border-bottom: 1px solid $gray
    padding: 10px
    font-size: 1.1em
    outline: none
    color: $gray--light--light

.h1--title
    font-size: 40px
    color: $blue

.alert--status
    color: $yellow

.form--button
    border: none
    width: 100%
    background-color: $blue
    font-family: 'Work Sans Light'
    color: $gray--light--light
    text-align: center
    padding: 10px
    outline: none
    cursor: pointer
    font-size: 15px

.text
    color: $gray--light--light

.link
    color: $blue
    text-decoration: none

.link:hover
    text-decoration: underline