@import main

.login__input
    display: flex
    justify-content: center
    align-items: center
    height: 25%
    
.loginInput__box
    display: flex
    flex-basis: 325px
    height: 100px
    flex-direction: column
    justify-content: space-between

.loginInput__input input
    flex-basis: 100%

.login__submit
    height: 55%
    display: flex
    justify-content: center
    align-items: center

.loginSubmit__box
    display: flex
    flex-direction: column
    flex-basis: 275px
    height: 250px

.loginSubmitBox__info
    flex-basis: 100%
    display: flex
    flex-grow: 10
    flex-direction: column
    justify-content: space-between

.loginSubmitBox__button
    flex-basis: 100%
    display: flex
    flex-grow: 1
    flex-direction: column
    justify-content: space-between
