@import main
    


.loginSignUpBackground,
.loginSignUp__title,
.login__input,
.login__input__tags,
.login__button,
.sign__input,
.sign__button,
.sign__button__tags
    display: flex
    justify-content: center

.loginSignUpBox,
.login__input__tags,
.login__input__tags div,
.sign__input__tags,
.sign__input__tags div,
    display: flex
    flex-direction: column


.loginSignUpBackground
    width: 100%
    height: 100%
    position: absolute
    align-items: center

.loginSignUpBox
    width: 350px
    height: 450px
    background-color: $gray--light

.loginSignUp__title
    height: 25%
    align-items: center

.login__input
    height: 30%

.login__input__tags
    width: 320px
    height: 110px
    justify-content: space-between
    div
        position: relative

.login__button
    height: 35%
    align-items: flex-end

.login__button__tags
    height: 120px
    width: 250px
    margin-bottom: 15px
    justify-content: space-between

.eye
    position: absolute
    font-size: 20px
    cursor: pointer  
    right: 0
    bottom: 0
    margin-bottom: 10px
    margin-right: 8px

.login__open__eye
    visibility: hidden
    opacity: 0
    color: $gray--light--light

.login__close__eye
    color: $gray

.sign__input__tags
    width: 320px
    height: 215px
    justify-content: space-between
    div
        position: relative

.sign__input
    height: 75%
    align-items: center

.sign__button
    height: 30%

.sign__button__tags
    width: 250px
    height: 100px
    margin-top: 25px
    align-items: flex-start

.loginSignUpBox__alert
    height: 5%
    margin-left: 20px
    margin-right: 20px