$back--color: #191919
$gray--light--light: #B9B9B9
$gray--light: #6A6A6A
$orange: #FF6F00
$gray: #474747
$blue: #0080FF
$min--desktop--width: 768px
    
@font-face
    font-family: 'Work Sans Light'
    src: url('../fontes/Work Sans/WorkSans-Light.otf')

body
    margin: 0
    font-family: 'Work Sans Light'
    background-color: $back--color

#background
    width: 100%
    height: 100%
    z-index: -1


// ---------- MENU

#navBar,
#navBar + div,
#navBar > div > div 
    height: 50px


#navBar
    position: fixed
    width: 90%
    padding: 0 5%
    border-bottom: 0.5px solid $gray--light
    z-index: 2

#navBar > div > div
    width: 50%

#navBar + div
    z-index: 12
    width: 10px


.navBar__element
    margin: 8px
    padding: 8px

.dropdownDesktop__element,
.navBarMobileDropdown__element
    margin: 6px

.dropdownDesktop > div
    top: 35px

.navBarMobileDropdown__element > div,
    top: 25px

.navBarMobileSubDropdown__element
    margin: 14px
    top: 15px

#navBarMobileButton > .fa-bars,
#navBArMobileButton__left > .fa-user
    right: 3px

.navBarMobile__content
    right: 0

.mobile--rotated
    @extend .hided
    transform: rotate(360deg)

// ---------- LOGIN/SIGNUP

.form,
    width: 350px
    padding-top: 25px

.form > div
    margin: 0 30px

.form__element
    margin-bottom: 25px
    width: 100%

.form--eye
    right: 0
    top: 9px
    font-size: 22px
    cursor: pointer

.fa-eye-slash
    color: $gray--light

// ---------- BODY

#body
    height: 100%

#body > #navColumn
    position: fixed
    flex-basis: 250px
    border-right: 0.5px solid $gray--light--light
    background-color: $gray
    z-index: 1
    left: 0
    height: 100%
    width: 250px

#body > #content
    flex-basis: 1570px

.navColumnContent__element
    width: 200px
    margin-bottom: 25px

.navColumnContent__division
    border: 0.5px solid $gray--light
    margin-top: 10px
    margin-bottom: 35px
    width: 200px

#content__cards
    width: 75%

#content__ads
    width: 25%

@media screen and (min-width: $min--desktop--width + 1)
    // MENU
    #navBar #navBar__mobile
        display: none
    #content
        margin-left: 260px
    
@media screen and (max-width: $min--desktop--width)
    // MENU
    #navBar__desktop
        display: none
    #content
        flex-direction: column-reverse
    #content__cards
        width: 100%
        height: 100%
    #content__ads
        width: 100%
        height: 250px

// CONTENT 

.action--bar,
.action__header
    height: 50px

.action--bar,
.action__header,
.action__content
    margin: 0 30px

.action--bar
    margin-top: 40px
    margin-bottom: 80px

.action__header
    padding: 0 10px
    cursor: pointer
    top: 0

.action:hover
    top: -3px

.action + .action 
    margin-top: 10px

.action__title
    width: 50%

.action__buttons
    width: 50%

.action__content
    margin-top: 1px
    min-height: 75px
    left: 0
    padding: 30px

    


.form--button,
.reset--button
    cursor: pointer
    outline: none

.text,
a,
.form--input--text,
.fa-eye,
body,
.icon
    color: $gray--light--light

a:hover,
.noUnderline--link,
.form--button:hover, 
.link--button:hover,
.link--button
    text-decoration: none

.hided,
.slide--effect,
.slide--effect--left
    opacity: 0
    visibility: hidden

.status--success,
a:hover,
.form--button,
.link--button,
.active--link
    color: $blue

#navBar,
.card,
.form--input--text,
.reset--button
    background-color: $gray

.slide--effect,
.slide--effect--left,
.form__element,
.dropdownDesktop,
.navBarMobile__subDropdown,
#navBarMobileButton,
#navBArMobileButton__left,
.action
    position: relative

.form--eye,
.dropdownDesktop > div,
#navBarMobile__toggle > div,
.navBarMobile__subDropdown > div,
#background,
#navBarMobileButton > .fa-bars,
#navBArMobileButton__left > .fa-user,
    position: absolute

.justifyContent,
.alignContent,
.centralizeContent,
.centralizeContentColumn,
.rowReversed,
#body,
.column,
#content,
.action__header
    display: flex

.alignContent,
.centralizeContent,
.centralizeContentColumn
    align-items: center

.rowReversed
    flex-direction: row-reverse
    
.centralizeContent,
.centralizeContentColumn,
.justifyContent
    justify-content: center

.centralizeContentColumn,
.column
    flex-direction: column

.form--button, .link--button,
.dropdownDesktop > div,
#navBarMobile__toggle > div,
.action__header,
.action
    transition-duration: 0.2s

.slide--effect,
.slide--effect--left
    transition-duration: 1.2s


    
.status--alert
    color: $orange

.card
    border: 0.5px solid $gray--light
    border-radius: 2px


    
a
    text-decoration: underline


.form--button, .link--button
    border: 1px solid $blue
    padding: 12px
    font-size: 1em

.form--button:hover, .link--button:hover
    color: white
    background-color: $blue

.form--button
    background-color: transparent
    width: 250px
    font-family: 'Work Sans Light'

.form--input--text
    border: none
    border-bottom: 1px solid $gray--light
    width: 275px
    padding: 10px
    outline: none
    font-size: 1.1em

.reset--button
    border: none

.icon
    font-size: 30px


.link--button
    display: inline-block
    width: 225px
    text-align: center

.slide--effect
    top: -30px

.slide--effect--left
    left: -30px

.align--text
    text-align: center
