$back--color: #191919
$gray--light--light: #B9B9B9
$gray: #474747
$green: #0ED600
    
@font-face
    font-family: 'Work Sans Light'
    src: url('../fontes/Work Sans/WorkSans-Light.otf')

body
    margin: 0
    font-family: 'Work Sans Light'
    background-color: $back--color
    color: $gray--light--light

#background
    position: absolute
    width: 100%
    height: 100%

.centralizeContent,
.centralizeContentColumn
    display: flex
    justify-content: center
    align-items: center

.centralizeContentColumn
    flex-direction: column




/* MODIFIERS */


.form--button, .link--button
    border: 1px solid $green
    color: $green
    padding: 12px
    transition-duration: 0.2s
    font-size: 1em

.form--button:hover, .link--button:hover
    color: white
    background-color: $green

.form--button
    background-color: transparent
    width: 250px
    cursor: pointer
    font-family: 'Work Sans Light'

.link--button
    display: inline-block
    width: 225px
    text-align: center
    text-decoration: none

.slide--effect
    opacity: 0
    visibility: hidden
    transition-duration: 1s
    position: relative
    top: -30px

/* USER SECTION */
// BLOCKS


.form
    background-color: $gray
    width: 350px
    padding-top: 25px

.form > div
    margin: 0 30px


// ELEMENTS


.form__element
    margin-bottom: 25px

